{{ form_start(form) }}
<fieldset class="border p-3 px-5">
    <legend>Ajout d'un participant</legend>
    <div class="row">
        <div class="col-5"> {{ form_row(form.name, {'label': 'Nom'}) }} </div>
        <div class="offset-2"></div>
        <div class="col-5"> {{ form_row(form.firstname, {'label': 'Prénom'}) }} </div>
    </div>
    <div class="row">
        <div class="col-5"> {{ form_row(form.phoneNumber, {'label': 'Numéro de portable'}) }} </div>
        <div class="offset-2"></div>
        <div class="col-5"> {{ form_row(form.mail, {'label': 'Email'}) }} </div>
    </div>
    <button class="btn btn btn-primary btn-block">{{ button_label|default('Valider') }}</button>
</fieldset>
{{ form_end(form) }}