<div class="modal fade" id="playGame" tabindex="-1" role="dialog" aria-labelledby="playGameLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="d-none event-id">{{ event.id }}</span>
                <span class="d-none number-of-players-format">{{ event.formatEvent.numberOfPlayers }}</span>
                <h5 class="modal-title" id="playGameLabel">{{ event.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div id="number-of-players-not-reached" class="row border my-3 border-danger mx-auto">
                    <div class="col-12 bg-danger text-center py-2 text-white">
                        <i class="fas fa-exclamation-triangle"></i> Tous les participants ne sont pas présents.</div>
                </div>

                <div class="row border my-3 mx-auto py-2 align-items-center start-event-modal">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 align-self-center"><i class="fas fa-users fa-3x"></i></div>
                            <div class="col-6 display-4 border-left">{{ event.formatEvent.numberOfPlayers }}</div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-6">FORMAT</div>
                            <div class="col-6 border-left">Personnes</div>
                        </div>
                    </div>
                </div>

                <div class="row border my-3 mx-auto py-2 align-items-center start-event-modal">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 align-self-center"><i class="fas fa-user fa-3x"></i></div>
                            <div id="registred-players" class="col-6 display-4 border-left">{{ event.players|length }}</div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-6">INSCRITS</div>
                            <div class="col-6 border-left">Personnes</div>
                        </div>
                    </div>
                </div>

                <div class="row border my-3 mx-auto py-2 align-items-center start-event-modal">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 align-self-center"><i class="fas fa-user-check fa-3x"></i></div>
                            <div id="present-players" class="col-6 display-4 border-left"></div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-6">PRESENTS</div>
                            <div class="col-6 border-left">Personnes</div>
                        </div>
                    </div>
                </div>

                <div class="row border my-3 mx-auto py-2 align-items-center start-event-modal">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 align-self-center">
                                <i class="fas fa-bullhorn fa-2x"></i>
                                <span class="pl-2 display-4"><small>
                                        {{ '%02d'|format(event.RoundMinutes) ~ ':' ~ '%02d'|format(event.RoundSeconds)}}
                                        </small></span>
                            </div>
                            <div class="col-6 border-left">
                                <i class="fas fa-pause fa-2x"></i>
                                <span class="pl-2 display-4"><small>
                                        {{ '%02d'|format(event.PauseMinutes) ~ ':' ~ '%02d'|format(event.PauseSeconds)}}
                                       </small>
                                </span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">Temps de parole</div>
                            <div class="col-6 border-left">Temps de pause</div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 mx-auto">
                    <div class="col-12 text-center h4">Confirmez-vous le lancement ?</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" href="{{ path('event_start', {'id': event.id}) }}" role="button">
                    Lancer
                </a>
            </div>
        </div>
    </div>
</div>