{% extends 'base.html.twig' %}

{% block title %}Participants - {{ parent() }}{% endblock %}

{% block pageTitle %}{{ event.title }}{% endblock %}

{% block body %}
    <div class="event_players">
         <p class="text-center pt-1 h4 font-weight-bold">{{ event.date|date('d M Y') }}</p>

        <h2 class="mt-3">Gestion des participants</h2>

        <div class="row">
            <div class="col-6">
                <p class="pt-2">
                    Nombre d'inscrits {{ event.players|length ~ ' / '~ event.formatEvent.numberOfPlayers }}
                    - <span class="badge badge-{{ event.statusEvent.color }}">{{ event.statusEvent.name }}</span>
                </p>
                {% if event.statusEvent.state < event.statusEvent.fullState
                    and date() <= date(event.date) %}
                    <a class="btn btn-primary align-self-end" data-toggle="collapse" href="#collapsePlayerForm"
                       role="button" aria-expanded="false" aria-controls="collapsePlayerForm  ">
                        <i class="fas fa-user-plus mr-1"></i> Ajouter un participant
                    </a>
                {% endif %}

            </div>
            <div class="col-6 align-self-end text-right">
                {% if event.statusEvent.state < event.statusEvent.inProgressState
                    and event.date|date('m-d-Y') == "now"|date('m-d-Y') and event.players|length > 0 %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#playGame">
                        <i class="fas fa-play"></i> Lancer l'événement
                    </button>
                {% endif %}
            </div>
        </div>

        <div class="collapse" id="collapsePlayerForm">
            {{ include('player/_formPlayer.html.twig') }}
            <hr/>
        </div>

        {% for player in players %}
            <div class="row players align-items-center">
                <div class="col-sm-1 col-xs-12">
                    {% if event.statusEvent.state < event.statusEvent.inProgressState %}
                        <input type="checkbox" class="presence" id="presence_{{ player.id }}" name="presence"
                               value="{{ player.id }}"{% if player.isPresence == 1 %} checked {% endif %}>
                    {% elseif player.isPresence == 1 %}
                        <i class="fas fa-check"></i>
                    {% else %}
                        <i class="fas fa-times"></i>
                    {% endif %}
                </div>
                <div class="col-sm-4 col-xs-12">
                    <span class="icn"><i class="fas fa-user color-icons-decoration mr-1"></i></span>{{ player.firstname }}  {{ player.name }}
                </div>
                <div class="col-sm-3 col-xs-12">
                    <span class="icn"><i class="fas fa-envelope color-icons-decoration mr-1"></i></span>{{ player.mail }}
                </div>
                <div class="col-sm-2 col-xs-12">
                    <span class="icn"><i class="fas fa-mobile-alt color-icons-decoration mr-1"></i></span>{{ player.phoneNumber }}
                </div>
                {% if event.statusEvent.state < event.statusEvent.inProgressState %}
                    <div class="col-sm-1 col-xs-12">
                        <button class="listButton btn editFormBtn" id="{{ player.id }}" data-toggle="modal" data-target="#edit"><i class="fas fa-edit"></i></button>
                    </div>
                    <div class="col-sm-1 col-xs-12">
                        <form method="post" action="{{ path('player_delete', {'id': event.id, 'player': player.id}) }}"
                              onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce participant ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
                            <button class="listButton btn"><i class="fas fa-times"></i></button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% include 'player/_formEditPlayer.html.twig' %}
        {% if event.statusEvent.state < event.statusEvent.inProgressState
            and event.date|date('m-d-Y') == "now"|date('m-d-Y') and event.players|length > 0 %}
            <div class="d-100">
                <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal"
                        data-target="#playGame">
                    <i class="fas fa-play"></i> Lancer l'événement
                </button>
            </div>
        {% endif %}
    </div>
    {% include 'player/_modalStartGame.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('players') }}
{% endblock %}
