{% extends 'base.html.twig' %}
{% block title %}
    Gestion des participants
{% endblock %}
{% block body %}
    <div class="event_players container">
        <h1 class="text-center">Gestion des participants</h1>
        <h2 class="text-center pt-1">{{ event.title }}</h2>
        <hr />
        <h2 class="text-center pt-1">{{ event.date|date('d M Y') }}</h2>
        <div class="row">
            <div class="col-6">
                <p class="pt-2">
                    <strong><u>Participants</u></strong>
                    - Nombre d'inscrits {{ event.players|length ~ ' / '~ event.formatEvent.numberOfPlayers }}
                    - <span class="badge badge-{{ event.statusEvent.color }}">{{ event.statusEvent.name }}</span>
                </p>
                {% if (event.statusEvent.state < event.statusEvent.fullState) %}
                    <a class="btn btn-primary align-self-end" data-toggle="collapse" href="#collapsePlayerForm"
                       role="button" aria-expanded="false" aria-controls="collapsePlayerForm  ">
                        <i class="fas fa-user-plus"></i> Ajouter un participant
                    </a>
                {% endif %}
            </div>
            <div class="col-6 align-self-end text-right">
                <a class="btn btn-primary" data-toggle="collapse" href="" role="button" aria-expanded="false">
                    <i class="fas fa-play"></i> Lancer l'événement
                </a>
            </div>
        </div>

        <div class="collapse" id="collapsePlayerForm">
            {{ include('player/_formPlayer.html.twig') }}
            <hr/>
        </div>

        {% for player in players %}
        <div class="row players align-items-center">
            <div class="col-sm-1 col-xs-12">
                <input type="checkbox" class="presence" id="presence_{{ player.id }}" name="presence"  value="{{ player.id }}"{% if player.isPresence == 1 %} checked {% endif %}>
            </div>
            <div class="col-sm-4 col-xs-12">
                    <span class="icn"><i class="fas fa-user"></i></span>{{ player.firstname }}  {{ player.name }}
            </div>
            <div class="col-sm-3 col-xs-12">
                    <span class="icn"><i class="fas fa-envelope"></i></span>{{ player.mail }}
            </div>
            <div class="col-sm-2 col-xs-12">
                    <span class="icn"><i class="fas fa-mobile-alt"></i></span>{{ player.phoneNumber }}
            </div>
             <div class="col-sm-1 col-xs-12">
                 <button class="listButton btn editFormBtn" id="{{ player.id }}" data-toggle="modal" data-target="#edit"><i class="fas fa-edit"></i></button>
            </div>
             <div class="col-sm-1 col-xs-12">
                 <form method="post" action="{{ path('player_delete', {'id': event.id, 'player': player.id}) }}"
                       onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce participant ?');">
                     <input type="hidden" name="_method" value="DELETE">
                     <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
                     <button class="listButton btn"><i class="fas fa-times"></i></button>
                 </form>
             </div>
        </div>
        {% endfor %}
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="modalEdit" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edition</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="formEdit">
                        {{ form_start(formEdit) }}
                        {{ form_row(formEdit.name, {'label': 'Nom'}) }}
                        {{ form_row(formEdit.firstname, {'label': 'Prénom'}) }}
                        {{ form_row(formEdit.phoneNumber, {'label': 'Numéro de portable'}) }}
                        {{ form_row(formEdit.mail, {'label': 'Email'}) }}
                        <button class="btn btn-primary btn-lg btn-block">{{ button_label|default('Valider') }}</button>
                        {{ form_end(formEdit) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-100">
            <a class="btn btn btn-primary btn-lg btn-block" data-toggle="collapse" href="" role="button" aria-expanded="false">
                <i class="fas fa-play"></i> Lancer l'événement
            </a>
        </div>
    </div>
{% endblock %}

