{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('previewUpload') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Ajouter un événement</h1>

        {{ form_start(formEvent) }}
        {{ form_row(formEvent.title, {'label': 'Titre'}) }}
        <hr>
        {{ form_row(formEvent.statusEvent, {'label': 'Statut de l\'événement'}) }}
        <hr>
        {{ form_row(formEvent.description) }}
        <hr/>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(formEvent.formatEvent, {'label': 'Format de l\'événement'}) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(formEvent.logoFile, {'label': 'Ajout du logo'}) }}
                {% include 'event/_previewUpload.html.twig' %}
            </div>
        </div>
        <hr/>
        <h4>Date / Heure</h4>
        <div class="row ml-1">
            {{ form_row(formEvent.date.date.day, {'label': 'Jours'}) }}
            {{ form_row(formEvent.date.date.month, {'label': 'Mois'}) }}
            {{ form_row(formEvent.date.date.year, {'label': 'Année'}) }}
            <div class="offset-1">
                {{ form_row(formEvent.date.time.hour, {'label': 'Heure'}) }}
            </div>
            {{ form_row(formEvent.date.time.minute, {'label': 'Minute'}) }}
        </div>        <hr/>
        <h4>Gestion des timers</h4>
        <div class="row">
            <div class="col-md-3 col-ms-6">{{ form_row(formEvent.roundMinutes, {'label': 'Temps de tour (minutes)'}) }}</div>
            <div class="col-md-3 col-ms-6">{{ form_row(formEvent.roundSeconds, {'label': 'Temps de tour (secondes)'}) }}</div>
            <div class="col-md-3 col-ms-6">{{ form_row(formEvent.pauseMinutes, {'label': 'Temps de pause (minutes)'}) }}</div>
            <div class="col-md-3 col-ms-6">{{ form_row(formEvent.pauseSeconds, {'label': 'Temps de pause (secondes)'}) }}</div>
        </div>
        <hr/>
        <h4>Gestionnaires de l'évènement</h4>
        {{ form_row(formEvent.society, {'label': 'Société :'}) }}
        <button class="btn btn btn-primary btn-lg btn-block">{{ button_label|default('Valider') }}</button>
        {{ form_end(formEvent) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('previewUpload') }}
{% endblock %}
