{% extends 'base.html.twig' %}

{% block title %}Editer un événement{% endblock %}



{% block body %}
<div class="container">
    <h1 class="text-center">Éditer un événement</h1>
   
    {{ form_start(formEdit) }}
    {{ form_row(formEdit.title, {'label': 'Titre'}) }}
    {{ form_row(formEdit.description) }}
    {{ form_row(formEdit.date, {'label': 'Date / Heure'}) }}
    
    <hr />
    <h4>Gestion des timers</h4>

    <div class="row">
        <div class="col-md-3 col-ms-6">{{ form_row(formEdit.roundMinutes, {'label': 'Temps de tour (minutes)'}) }}</div>
        <div class="col-md-3 col-ms-6">{{ form_row(formEdit.roundSeconds, {'label': 'Temps de tour (secondes)'}) }}</div>
        <div class="col-md-3 col-ms-6">{{ form_row(formEdit.pauseMinutes, {'label': 'Temps de pause (minutes)'}) }}</div>
        <div class="col-md-3 col-ms-6">{{ form_row(formEdit.pauseSeconds, {'label': 'Temps de pause (secondes)'}) }}</div>
    </div>

    <hr />
    <h4>Attribuer des gestionnaires</h4>
    {% include 'event/_gestionary.html.twig' %}
    
    <button id="validateButton" class="btn btn btn-primary btn-lg btn-block">{{ button_label|default('Valider') }}</button>
    {{ form_end(formEdit) }}
</div>

    
{% endblock %}
