{% extends 'base.html.twig' %}

{% block title %}Editer un événement{% endblock %}



{% block body %}
    <div class="container">
        <h1 class="text-center">Éditer un événement</h1>

        {{ form_start(formEdit) }}
        {{ form_row(formEdit.title, {'label': 'Titre'}) }}
        <hr>
        {{ form_row(formEdit.statusEvent, {'label': 'Statut de l\'événement'}) }}
        {% set sentence = '' %}
        {% if event.statusEvent.state == event.statusEvent.registrationState and event.players|length > 0 %}
            {% set sentence = 'Des participants sont inscrits à l\'événement.
                                   Pour remettre le statut "En préparation", veuillez les supprimer.' %}
        {% elseif event.statusEvent.state == event.statusEvent.fullState %}
            {% set sentence = 'L\'événement est complet. Si vous souhaitez plus de participants, contactez l\'administrateur.' %}
        {% elseif  event.statusEvent.state == event.statusEvent.inProgressState %}
            {% set sentence = 'L\'événement est en cours, il ne peut être modifié.' %}
        {% elseif  event.statusEvent.state == event.statusEvent.finishState %}
            {% set sentence = 'L\'événement est terminé, il ne peut être modifié.' %}
        {% endif %}

        {% if sentence is not empty %}
            <p>
                <span class="badge badge-{{ event.statusEvent.color }}">{{ event.statusEvent.name }}</span>
                <span class="text-{{ event.statusEvent.color }}">{{ sentence }}</span>
            </p>
        {% endif %}
        <hr>
        {{ form_row(formEdit.description) }}
        <hr/>
        <div class="row">
            <div class="col-lg-6">
                {% if is_granted('ROLE_ADMIN') %}
                {{ form_row(formEdit.formatEvent, {'label': 'Format de l\'événement'}) }}
                {% else %}
                    <p>
                    Format de l'événement :
                    {{ event.formatEvent.name }}
                    </p>
                    <div class="hiddenField">
                        {{ form_row(formEdit.formatEvent) }}
                    </div>
                {% endif %}
                <p class="mb-0 text-secondary">
                    <i>Nombre d'inscrits : {{ event.players|length ~ ' / '~ event.formatEvent.numberOfPlayers }}</i>
                </p>
            </div>
            <div class="col-lg-6">
                {{ form_row(formEdit.logoFile, {'label': 'Modification du logo'}) }}
            </div>
        </div>
        <hr/>
        {% if is_granted('ROLE_ADMIN') %}
            <h4>Date / Heure</h4>
            <div class="row ml-1">
                {{ form_row(formEdit.date.date.day, {'label': 'Jours'}) }}
                {{ form_row(formEdit.date.date.month, {'label': 'Mois'}) }}
                {{ form_row(formEdit.date.date.year, {'label': 'Année'}) }}
                <div class="offset-1">
                    {{ form_row(formEdit.date.time.hour, {'label': 'Heure'}) }}
                </div>
                {{ form_row(formEdit.date.time.minute, {'label': 'Minute'}) }}
            </div>
        {% else %}
            <h4>Date / Heure</h4>
            <p>
               Le {{ event.date.date|date('d/m/Y') }} à {{ event.date.date|date('H') }} heure {{ event.date.date|date('i') }} minutes
            </p>
            <div class="hiddenField">
                {{ form_row(formEdit.date.date.day, {'label': 'Jours'}) }}
                {{ form_row(formEdit.date.date.month, {'label': 'Mois'}) }}
                {{ form_row(formEdit.date.date.year, {'label': 'Année'}) }}
                <div class="offset-1">
                    {{ form_row(formEdit.date.time.hour, {'label': 'Heure'}) }}
                </div>
                {{ form_row(formEdit.date.time.minute, {'label': 'Minute'}) }}
            </div>
        {% endif %}
        <hr/>
        <h4>Gestion des timers</h4>
        <div class="row">
            <div class="col-md-3 col-ms-6">{{ form_row(formEdit.roundMinutes, {'label': 'Temps de tour (minutes)'}) }}</div>
            <div class="col-md-3 col-ms-6">{{ form_row(formEdit.roundSeconds, {'label': 'Temps de tour (secondes)'}) }}</div>
            <div class="col-md-3 col-ms-6">{{ form_row(formEdit.pauseMinutes, {'label': 'Temps de pause (minutes)'}) }}</div>
            <div class="col-md-3 col-ms-6">{{ form_row(formEdit.pauseSeconds, {'label': 'Temps de pause (secondes)'}) }}</div>
        </div>
        <hr/>
        <h4>Gestionnaires de l'évènement</h4>
        {% if is_granted('ROLE_ADMIN') %}
            {{ form_row(formEdit.society) }}
        {% else %}
            <div>
            {{ app.user.society.name }}
            </div>
            <div class="hiddenField">
            {{ form_row(formEdit.society) }}
            </div>
        {% endif %}
        <button class="btn btn btn-primary btn-lg btn-block">{{ button_label|default('Valider') }}</button>
        {{ form_end(formEdit) }}
    </div>
{% endblock %}
