<div class="row">
    <div class="col">
        <h2>Gestion des formats d'événements</h2>
    </div>
</div>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="row mt-3">
            <div class="col-12 alert alert-dismissible alert-{{ label }} flash-{{ label }}">
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col mt-3 border py-3">
        <p class="border-bottom">Ajouter un format d'événement</p>
        {{ form_start(formAddFormatEvent) }}
        <div class="row">
            <div class="col-lg-4">
                {{ form_row(formAddFormatEvent.name) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(formAddFormatEvent.csvFile) }}
            </div>
            <div class="col-lg-4 text-center mt-lg-3 align-self-center">
                <button class="btn btn-primary">{{ button_label|default('Ajouter un format') }}</button>
            </div>
        </div>
        {{ form_end(formAddFormatEvent) }}
    </div>
</div>