<div class="row">
    <div class="col">
        <h4>Gestion des formats d'événements</h4>
    </div>
</div>

{% if errorAddFormatEvent is not empty %}
    <div class="row mx-auto">
        <div class="col-12 alert alert-dismissible alert-danger">
            {{ errorAddFormatEvent }}
        </div>
    </div>
{% endif %}

{% if validateAddFormatEvent is not empty %}
    <div class="row">
        <div class="col-12 alert alert-dismissible alert-success">
            {{ validateAddFormatEvent }}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col mt-3">
        {{ form_start(formAddFormatEvent) }}
        <div class="row">
            <div class="col-lg-3">
                {{ form_row(formAddFormatEvent.name) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(formAddFormatEvent.numberOfTables) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(formAddFormatEvent.csvFile) }}
            </div>
            <div class="col-lg-3 text-center mt-lg-3 align-self-center">
                <button class="btn btn-primary">{{ button_label|default('Ajouter un format') }}</button>
            </div>
        </div>
        {{ form_end(formAddFormatEvent) }}
    </div>
</div>