<div class="row">
    <div class="col">
        <h4>Gestion des formats d'événements</h4>
    </div>
</div>
<div class="row">
    <div class="col mt-3">
        {{ form_start(formAddFormatEvent) }}
        {#{{ form_widget(formAddFormatEvent) }}#}

        <div class="row">
            <div class="col-lg-4">
                {{ form_row(formAddFormatEvent.name) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(formAddFormatEvent.numberOfTables) }}
            </div>
            <div class="col-lg-4">
                {{ form_row(formAddFormatEvent.csvFile) }}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-primary btn-block">{{ button_label|default('Ajouter un format') }}</button>
            </div>
        </div>

        {{ form_end(formAddFormatEvent) }}
    </div>
</div>