<div class="row mt-2">
    <div class="col">
        <h3>Ajouter un format d'événement</h3>
    </div>
</div>

<div class="row border p-3">
    <div class="col">
        {{ form_start(formAddFormatEvent) }}
        <div class="row">
            <div class="col-lg-5">
                {{ form_row(formAddFormatEvent.name) }}
            </div>
            <div class="col-lg-5">
                {{ form_row(formAddFormatEvent.csvFile) }}
            </div>
            <div class="col-lg-2 text-center mt-lg-3 mt-4 align-self-center">
                <button class="btn btn-primary btn-lg">{{ button_label|default('Ajouter un format') }}</button>
            </div>
        </div>
        {{ form_end(formAddFormatEvent) }}
    </div>
</div>