<div class="row">
    <div class="col">
        <h2 class="mb-4">Gestion des Timers</h2>
    </div>
</div>

{{ form_start(formTimer) }}
<div class="row p-3 border timer-settings">
    <div class="col-lg-5">
        <p><u>Temps de parole</u></p>
        <div class="row">
            <div class="col-2 text-right">
                <i class="far fa-clock fa-2x color-icons-decoration"></i>
            </div>
            <div class="col-5 d-flex align-items-center justify-content-between">
                {{ form_widget(formTimer.roundMinutes) }} min.
            </div>
            <div class="col-5 d-flex align-items-center justify-content-between">
                {{ form_widget(formTimer.roundSeconds) }} sec.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_errors(formTimer.roundMinutes) }}
                {{ form_errors(formTimer.roundSeconds) }}
            </div>
        </div>
    </div>
    <div class="col-lg-5 mt-lg-0 mt-4">
        <p><u>Temps de pause</u></p>
        <div class="row border-left border-left border-dark">
            <div class="col-2 text-right">
                <i class="far fa-clock fa-2x color-icons-decoration"></i>
            </div>
            <div class="col-5 d-flex align-items-center justify-content-between">
                {{ form_widget(formTimer.pauseMinutes) }} min.
            </div>
            <div class="col-5 d-flex align-items-center justify-content-between">
                {{ form_widget(formTimer.pauseSeconds) }} sec.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_errors(formTimer.pauseMinutes) }}
                {{ form_errors(formTimer.pauseSeconds) }}
            </div>
        </div>
    </div>
    <div class="col-lg-2 text-center align-self-end mt-lg-0 mt-4">
        <button class="btn btn btn-primary btn-lg">{{ button_label|default('Valider') }}</button>
    </div>
</div>
{{ form_end(formTimer) }}