{% extends 'base.html.twig' %}

{% block title %}Society index{% endblock %}

{% block body %}
    <section class="container">
        <h1>Society index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for society in societies %}
                <tr>
                    <td>{{ society.id }}</td>
                    <td>{{ society.name }}</td>
                    <td>
                        <a href="{{ path('society_show', {'id': society.id}) }}">show</a>
                        <a href="{{ path('society_edit', {'id': society.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('society_new') }}">Create new</a>
    </section>

{% endblock %}
