{% extends 'dashboardBase.html.twig' %}

{% block body %}
    <div class="row pauseDashboard"> 
        <div class="col-12">    
            <div class="row titleBar bgCard">
                <div class="col-12 text-center align-items-center my-auto">
                    <p class="mb-0">Prochain Tour</p>
                </div>
            </div>
            <hr>
            <div class="row tables">
                <div class="col-12 bgCard slider h-100 d-flex flex-column justify-content-center align-items-center">
                    {% include 'dashboard/_viewTables.html.twig' %}
                </div>
            </div>
            <hr>
            <div class="row statusBar bgCard">
                <div class="col-1 text-center align-middle my-auto">
                    <img class="img-fluid rounded py-2" src="/images/logos/{{ event.logo }}" alt="logo" />
                </div>
                <div class="col-3 text-center align-middle my-auto">Tour {{ currentLap }}/{{ maxLaps }}</div>
                <div class="pauseTimer col-4 text-center align-middle my-auto"
                data-pause-seconds="{{ event.pauseSeconds }}" 
                data-pause-minutes="{{ event.pauseMinutes }}" 
                data-event-id="{{ event.id }}"
                data-current-lap="{{ currentLap }}"
                data-max-laps="{{ maxLaps }}"></div>
                <div class="col-4 text-center align-middle my-auto">{{ event.title }}</div>
            </div>
        </div>
    </div>  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard_pause') }}
{% endblock %}
