{% extends 'dashboardBase.html.twig' %}

{% block body %}
    <div class="row pauseDashboard"> 
        <div class="col-12">    
            <div class="row titleBar bgCard">
                <div class="col-12 text-center align-middle my-auto">
                    <p>Prochain Tour</p>
                </div>
            </div>
            <div class="row tables">
                <div class="col-12 bgCard">
                    {# TABLES #}
                </div>
            </div>
            <div class="row statusBar bgCard">
                <div class="col-1 text-center align-middle my-auto">
                    <img class="img-fluid" src="/images/logos/{{ event.logo }}" alt="logo" />  
                </div>
                <div class="col-3 text-center align-middle my-auto">Tour {{ currentLap }}/{{ maxLaps }}</div>
                <div class="pauseTimer col-4 text-center align-middle my-auto"
                data-pause-seconds="{{ event.pauseSeconds }}" 
                data-pause-minutes="{{ event.pauseMinutes }}" 
                data-event-id="{{ event.id }}"
                data-current-lap="{{ currentLap }}"
                data-max-laps="{{ maxLaps }}"></div>
                <div class="col-4 text-center align-middle my-auto">{{ event.title }}</div>
            </div>
        </div>
    </div>
    <audio id="audioPlayer" src="/sounds/gong.mp3"></audio>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard_pause') }}
{% endblock %} 