{% extends 'dashboardBase.html.twig' %}


{% block body %}
    <div class="row runDashboard">
            <div class="left-side bgCard col-4 align-middle my-auto">
                <div class="round row">
                    <div class="col-12 align-middle my-auto">
                        <p class="text-center">TOUR {{ currentLap }}/{{ maxLaps }}</p>
                    </div>
                </div>
                <div class="globalTimer row" 
                data-global-seconds="{{ event.roundSeconds }}" 
                data-global-minutes="{{ event.roundMinutes }}" 
                data-event-id="{{ event.id }}"
                data-current-lap="{{ currentLap }}"
                data-max-laps="{{ maxLaps }}">
                    <div class="col-12 align-middle my-auto">
                        <p class="text-center"><strong></strong></p>
                    </div>
                </div>
                <div class="logo row">
                    <div class="col-12 text-center align-middle my-auto">
                        <img class="img-fluid" src="/images/logos/{{ event.logo }}" alt="logo" />
                    </div>
                </div>
            </div>
            <div class="right-side col-8">
                <div class="bgCard">

                    <div class="title row">
                        <div class="col-12 align-middle my-auto">
                            <p class="text-center">{{ event.title }}</p>
                        </div>
                    </div>
                    <div class="roundTimer row"
                    data-round-seconds="{{ event.roundMinutes *60+ event.roundSeconds }}"
                    data-event-id="{{event.id}}"
                    data->
                        <div class="container circle col-12 text-center align-middle my-auto">
                            <div class="timerText"></div>
                        </div>
                    </div>
                    <div class="speak row">
                        <div class="col-12 align-middle my-auto">
                            {# PRISE PAROLE #}
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard_run') }}
{% endblock %}