<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Société</th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
         <tr class="userList my-5">
             <td>
                 {% if 'ROLE_ADMIN' in user.roles %}
                    <i class="fas fa-user-shield fa-2x color-icons-decoration"></i>
                 {% else %}
                     <i class="fas fa-user fa-2x color-icons-decoration"></i>
                 {% endif %}
             </td>
             <td>{{ user.lastName }}</td>
             <td>{{ user.firstName }}</td>
             <td>{{ user.email }}</td>
             <td>{{ user.society.name }}</td>
             <td class="hiddenField">{{ user.society.id }}</td>
             <td class="text-right"><button class="btn listButton"><i class="fas fa-edit"></i></button></td>
             <td>{% include 'user/_delete_form.html.twig' %}</td>
         </tr>
    {% else %}
        <tr>
            <td colspan="8">Aucun utilisateur enregistré.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>